---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/logo.gif';

import client from '../../tina/__generated__/client';
import HomeContent from '../components/react/HomeContent';
const response = await client.queries.home({ relativePath: 'home.json' });
---

<!doctype html>
<Layout title="Home">
  <body>
    <main class="container">
      <div class="d-flex justify-content-center pb-4">
        <img class="rounded mw-100" src={Logo.src} alt="CivicTech Lab" />
      </div>
      <HomeContent client:tina {...response} />
    </main>
    <Footer />
  </body>
</Layout>
<style>
  img[alt='CivicTech Lab'] {
    height: auto;
    width: auto;
    max-height: 348px;
  }
</style>
