---
import client from '../../tina/__generated__/client';
import Footer from '../components/Footer.astro';
import JobContent from '../components/react/JobContent';
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';

const joinus = await getEntry('joinus', 'jobs');
const response = await client.queries.joinus({ relativePath: 'jobs.json' });
---

<!doctype html>
<Layout title="Join Us">
  <body>
    <main class="container container-base">
      <h1 class="text-center">Join Us</h1>
      <p class="text-center h6">
        We are expanding our team! Don't hesitate to join us if you find yourself a good fit for the following position{
          joinus.data.jobs.length == 1 ? '' : 's'
        }!
      </p>
      <JobContent client:tina {...response} />
    </main>
    <Footer />
  </body>
</Layout>
