---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
const joinus = await Astro.glob('../content/joinus/*.md');
console.log(joinus);
---

<!doctype html>
<Layout>
  <head>
    <BaseHead title={`Join Us | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="container">
      <h1 class="text-center">Join Us</h1>
      {
        joinus.map(({ Content, frontmatter }) => (
          <div class="card">
            <div class="card-body">
              <h2>{frontmatter.title}</h2>
              <p>{frontmatter.description}</p>
              <Content />
            </div>
          </div>
        ))
      }
    </main>
    <Footer />
  </body>
</Layout>
<style>
  .card {
    margin-top: 20px;
  }
</style>
