---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
const joinus = await Astro.glob('../content/joinus/*.md');
---

<!doctype html>
<Layout title="Join Us">
  <body>
    <main class="container">
      <h1 class="text-center">Join Us</h1>
      <p class="text-center h6">
        We are expanding our team! Don't hesitate to join us if you find yourself a good fit for the following position{
          joinus.length == 1 ? '' : 's'
        }!
      </p>
      {
        joinus.map(({ Content, frontmatter }) => (
          <div class="card">
            <div class="card-body">
              <h2>{frontmatter.title}</h2>
              <p>{frontmatter.description}</p>
              <Content />
            </div>
          </div>
        ))
      }
    </main>
    <Footer />
  </body>
</Layout>
<style>
  .card {
    margin-top: 20px;
  }
</style>
