---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<!doctype html>
<Layout title="News">
  <body>
    <main class="container">
      <h1 class="text-center">What's New</h1>
      <div class="row">
        <div class="d-flex justify-content-center mt-2">
          <div class="card" style="max-width: 44rem; width: 100%">
            <div class="card-body">
              <button class="btn badge text-bg-primary mb-1">Civic Tech</button>
              <h5 class="card-title">Card title</h5>
              <p class="card-subtitle mb-2 text-body-secondary" style="font-size: 0.875rem;">1 Jan 2024</p>
              <p class="card-text">Lorem Ipsum</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</Layout>
