---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';

import PeopleContent from '../components/react/PeopleContent';
import client from '../../tina/__generated__/client';
const response = await client.queries.people({ relativePath: 'people.json' });
---

<!doctype html>
<Layout title="People">
  <body>
    <main class="container">
      <h1 class="text-center">Current Team</h1>
      <div class="row">
        <PeopleContent client:tina {...response} />
      </div>
    </main>
    <Footer />
  </body>
</Layout>
