---
import { getEntries } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';

import { getEntry } from 'astro:content';
import PersonCard from '../components/PersonCard.astro';
const currentEntry = await getEntry('people', 'current');
const alumniEntry = await getEntry('people', 'alumni');
const currentPeople = currentEntry.data.people;
const alumnus = alumniEntry.data.people;
---

<!doctype html>
<Layout>
  <head>
    <BaseHead title={`People | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="container">
      <h1 class="text-center">Current Team</h1>
      <div class="row">
        {currentPeople.map((person) => <PersonCard person={person} />)}
      </div>
      <h2 class="h1 text-center mt-4">Alumni</h2>
      <div class="row">
        {alumnus.map((person) => <PersonCard person={person} />)}
      </div>
    </main>
    <Footer />
  </body>
</Layout>
