---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';

import TeamContent from '../components/react/TeamContent';
import client from '../../tina/__generated__/client';
const response = await client.queries.team({ relativePath: 'team.json' });
---

<!doctype html>
<Layout title="Team">
  <body>
    <main class="container">
      <TeamContent client:tina {...response} />
    </main>
    <Footer />
  </body>
</Layout>
