---
import { getCollection } from 'astro:content';
import Footer from '../../components/Footer.astro';
import Layout from '../../layouts/Layout.astro';
import NewsList from '../../components/react/NewsList';

const news = await getCollection('news');
---

<!doctype html>
<Layout title="News">
  <body>
    <main class="container container-base">
      <NewsList client:load news={news} />
    </main>
    <Footer />
  </body>
</Layout>
