---

---

<button onclick="scrollToTop()" id="scrollTop" title="Go to top">
  <svg xmlns="http://www.w3.org/2000/svg" fill="#212121" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"
    ></path>
  </svg>
</button>
<script is:inline>
  const scrollToTop = () => window.scrollTo({ top: 0, behavior: 'smooth' });

  const scrollFunction = () => {
    const btn = document.querySelector('#scrollTop');
    if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400) {
      btn.classList.add('active');
    } else {
      btn.classList.remove('active');
    }
  };

  document.onscroll = scrollFunction;
</script>
<style>
  button {
    z-index: 10;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: none;
    outline: none;
    background: transparent;
    opacity: 0;
    transition: opacity 200ms;
  }

  @media screen and (max-width: 576px) {
    button {
      right: 4px;
      bottom: 16px;
    }
  }

  button > svg {
    height: 36px;
    width: 36px;
  }

  button.active {
    opacity: 0.5;
  }

  button:hover {
    opacity: 0.7;
  }
</style>
