---
import FooterContent from './react/FooterContent';
import client from '../../tina/__generated__/client';
const response = await client.queries.global({ relativePath: 'global.json' });
---

<footer>
  <FooterContent client:tina {...response} />
  <hr />
  <div class="row">
    <p class="text-center">&copy; {new Date().getFullYear()} civictechlab.org. All Rights Reserved.</p>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
  }
</style>
