---
const today = new Date().getFullYear();
---

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 pe-md-4 py-2">
        <p class="h4">CivicTech Lab</p>
        <p>
          CivicTech Lab at National University of Singapore is a research hub led by Dr. Weiyu Zhang. We are a team of
          social scientists, computer scientists, and digital cultural analysts.
        </p>
      </div>
      <div class="col-md-4 px-md-4 py-2">
        <p class="h4">Find Us</p>
        <p>11 Computing Drive, Room 03-24. National University of Singapore, Singapore, 117416</p>
        <p>
          Email:
          <a href="mailto:civictechlabnus@gmail.com">civictechlabnus@gmail.com</a>
        </p>
      </div>
      <div class="col-md-4 ps-md-4 py-2">
        <p class="h4">Quick Links</p>
        <nav class="nav flex-column">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/people">People</a>
          <a class="nav-link" href="/projects">Projects</a>
          <a class="nav-link" href="/news">News</a>
          <a class="nav-link" href="/join-us">Join Us</a>
        </nav>
      </div>
    </div>
    <hr />
    <div class="row">
      <p class="text-center">&copy;{today} civictechlab.org. All Rights Reserved.</p>
    </div>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
  }

  a.nav-link {
    padding-left: 0;
  }

  @media screen and (max-width: 568px) {
    .row > * {
      padding-left: 0;
      padding-right: 0;
    }
  }
</style>
