---
import { getCollection } from 'astro:content';
import Logo from '../assets/logo.png';
import HeaderLink from './HeaderLink.astro';
const projects = await getCollection('projects');
const projectList = projects.map((project) => {
  return {
    slug: project.id.toLowerCase(),
    title: project.data.title,
  };
});
---

<nav class="navbar sticky-top border-bottom navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src={Logo.src} alt="CivicTech Lab" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <HeaderLink class="nav-link" href="/">Home</HeaderLink>
        </li>
        <li class="nav-item">
          <HeaderLink class="nav-link" href="/people">People</HeaderLink>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/projects"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Projects
          </a>
          <ul class="dropdown-menu">
            {
              projectList.map((p) => (
                <li>
                  <HeaderLink class="dropdown-item" href={`/projects/${p.slug}`}>
                    {p.title}
                  </HeaderLink>
                </li>
              ))
            }
          </ul>
        </li>
        <li class="nav-item">
          <HeaderLink class="nav-link" href="/news">News</HeaderLink>
        </li>
        <li class="nav-item">
          <HeaderLink class="nav-link" href="/join-us">Join Us</HeaderLink>
        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
  .navbar-brand > img {
    height: 44px;
  }
</style>
