---
import { getCollection } from 'astro:content';
import Footer from '../../components/Footer.astro';
import Layout from '../../layouts/Layout.astro';

const projects = await getCollection('projects');
---

<!doctype html>
<Layout title="Projects">
  <body>
    <main class="container">
      <h1 class="text-center">Projects</h1>
      <div class="row">
        {
          projects.map((project) => {
            return (
              <div class="col-12 p-2">
                <div class="card">
                  <div class="card-body">
                    <a href={`/projects/${project.id.toLowerCase()}`} class="link-primary">
                      <h2 class="h4">{project.data.title}</h2>
                    </a>
                    {project.data.description && <p class="card-text">{project.data.description}</p>}
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </main>
    <Footer />
  </body>
</Layout>
<style>
  a {
    text-decoration: none;
  }

  a:hover h2 {
    color:;
  }

  div.card-body:not(:has(p)) h2 {
    margin-bottom: 0;
  }
</style>
